$r: red;
$g: green;
$b: blue;
$border: solid 1px;

body {
    margin: 0;
    padding: 15px;

    div {
        border: $border $r;
        padding: 15px;

        h1 {
            color: $g;
            text-align: center;
            text-decoration: underline solid 1px $b;
            text-underline-offset: 7px;
        }

        section {
            display: flex;

            article {
                border: $border $g;
                text-align: center;
                padding: 15px;
            }

            article:nth-child(2n+1) {
                color: $b;
            }

            article:nth-child(2n+2) {
                color: $r;
            }
        }
    }
}