$r: red;
$g: green;
$b: blue;
$border: solid 1px;

div {
    border: $border $r;
    padding: 10px;

    h1 {
        color: $g;
        text-decoration: underline solid $b;
        text-align: center;
    }

    section {
        display: flex;

        article {
            border: $border $g;
            text-align: center;
        }
        article:nth-child(2n+1) {
            color: $b;
        }
        article:nth-child(2n+2) {
            color: $r;
        }
    }
}